*{
    margin: 0;
    font-family: Montserrat, sans-serif;
    transition: 0.3s;
}
html, body { /* +main flex:1 sets footer to bottom */
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw;
    min-height: 65px;
    border-bottom: 2px solid #D7D7D7;
}
main {
    flex: 1; /* +main flex:1 sets footer to bottom */
}
header h1{
    font-size: 25px;
}
header nav ul{
    display: flex;
    height: 55px;
}
.site-name{
    display: flex;
    align-items: center;
}
.nav-item{
    list-style: none;
    padding: 0 15px;
    font-weight: 500;
    height: 100%;
}
.nav-item a{
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-item a:hover{
    border-bottom: 5px solid #77bd61;
}
a{
    text-decoration: none;
    color: #141414;
}
main section{
    padding: 20px 220px;
}
#about .content{
    padding: 50px 0;
}
#about .content h2{
    padding: 20px 0;
}
#about .content p{
    width: 500px;
}
#features{
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
}
.feature-box{
    width: 280px;
    height: 250px;
}
.photo{
    height: 180px;
    background-color: #E3E4D3;
}
.photo img{
    width: 100%;
}
.feature-box-info{
    height: 70px;
    background-color: #F3F3F3;
}
.feature-box-info h3{
    padding: 5px;
}
.feature-box-info p{
    padding: 0 5px;
    font-size: 14px;
}
footer{
    border-top: 2px solid #D7D7D7;
    background-color: #141414;
    color: #F3F3F3;
}
footer a{
    color: #F3F3F3;
}
.footer-content{
    padding: 0 7vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
address{
    display: flex;
}
address p{
    padding: 0 25px 0 0;
}
.brand, .footer-left address{
    padding: 50px 0 0 0;
}
.footer-left, .footer-right{
    width: 50%;
}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
.footer-right p{
    padding: 50px 0 15px 0;
    width: 70%;
}
footer .footer-buttons {
    display: flex;
    width: 70%;
    gap: 15px;
}
footer .footbutton {
    background-color: #77bd61;
    height: 42px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
.bottom-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #252525;
    height: 42px;
    font-weight: 600;
    margin-top: 20px;
}
.bottom-footer p{
    margin: 0;
    line-height: 42px;
}
.flogo{
    filter: invert(1);
}
@media (max-width: 1535px) {
    #features{
        gap:50px;
    }
    main section{
        padding: 20px 120px;
    }
}
@media (max-width: 767px) {
    main section{
        padding: 20px 20px;
        align-items: center;
    }
    #features, .footer-content{
        flex-direction: column;
    }
    .logo{
        width: 40px;
    }
    header h1{
        font-size: 22px;
    }
    address {
        display: block;
    }
    .footer-left, .footer-right {
        width: 100%;
    }
    .footer-right {
        align-items: normal;
    }
    #about{
        display: flex;
        justify-content: center;
    }
    #about .content p{
        width: 300px;
    }
}