*{
    margin: 0;
    font-family: Montserrat, sans-serif;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
    height: 65px;
    border-bottom: 2px solid #D7D7D7;
}
main {
    flex: 1;
}
header h1{
    font-size: 25px;
}
header nav ul{
    display: flex;
    height: 55px;
}
.nav-item{
    list-style: none;
    padding: 0 15px;
    font-weight: 500;
    height: 100%;

}
.nav-item a{
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-item a:hover{
    border-bottom: 5px solid #77bd61;
}
a{
    text-decoration: none;
    color: #141414;
}

footer{
    border-top: 2px solid #D7D7D7;
    background-color: #141414;
    color: #E3E4D3;
}
footer a{
    color: #E3E4D3;
}
.footer-content{
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
address{
    display: flex;
}
address p{
    padding: 0 25px 0 0;
}
.footer-left h2, .footer-left address{
    padding: 50px 0 0 0;
}
.footer-left, .footer-right{
    width: 50%;
}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
.footer-right p{
    padding: 50px 0 15px 0;
    width: 70%;
}
footer .footer-buttons {
    display: flex;
    width: 70%;
    gap: 15px;
}
footer .footbutton {
    background-color: #77bd61;
    height: 42px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
.bottom-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #252525;
    height: 42px;
    font-weight: 600;
    margin-top: 20px;
}
.bottom-footer p{
    margin: 0;
    line-height: 42px;
}

@media (max-width: 768px) {
    header{
        padding: 0 30px;
    }
    address {
        display: block;
    }
    .footer-content{
        padding: 0 30px;
        flex-direction: column;
    }
    .footer-left, .footer-right {
        width: 100%;
    }
    .footer-right {
        align-items: normal;
    }
}