docs/*.html linguist-detectable=true
docs/*.css linguist-detectable=true
docs/*.js linguist-detectable=true

docs/*.html linguist-language=HTML
docs/*.css linguist-language=CSS
docs/*.js linguist-language=JavaScript
