:root{
    --azgray: #D7D7D7;
    --azgray-dark: #141414;
    --azgreen: #77bd61;
    --azwhite: #F3F3F3;
    --azgray-li: #252525
}
*{
    margin: 0;
    font-family: Montserrat, sans-serif;
}
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: var(--azgray-dark);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 7vw;
    min-height: 65px;
    border-bottom: 2px solid var(--azgray);
}
header h1{
    font-size: 25px;
}
.site-name, .nav-item a, header nav ul{
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-item{
    list-style: none;
    padding: 0 15px;
    font-weight: 500;
    height: 95%;
}
.nav-item a:hover{
    border-bottom: 5px solid var(--azgreen);
}
header nav{
    display: flex;
    align-items: center;
}
main {
    flex: 1;
}
main section:not(:first-child){
    padding: 1.5vw 12vw;
    margin-top: 40px;
}
#about{
    display: flex;
    justify-content: space-between;
}
#about .content{
    width: 50%;
}
#about .contact{
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: center;
}
#about h2{
    margin: 15px 0;
}
.contact-box{
    margin: 0;
    width: 80%;
}
.contact-box form{
    display: flex;
    flex-direction: column;
}
.contact-box form p, .contact-box form input{
    margin-bottom: 10px;
}
.contact-box form input{
    padding: 4px;
    height: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--azgray-li);
    outline: none;
}
.contact-box form textarea{
    resize: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--azgray-li);
    outline: none;
}
.formbutton{
    background-color: var(--azgreen);
    height: 42px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: width 0.6s ease;
}
.formbutton:hover{
    width: 100%;
    transition: width 1s ease;
}
.buttend{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.slider{
    width: 100%;
    height: 480px;
    border-bottom: 3px solid #cacaca;
}
.slider-content{
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.slider-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.control-panel{
    z-index: 2;
    height: 20px;
    background: rgba(213, 213, 213, 0.45);
    border-radius: 10px;
    color: #fff;
    margin-bottom: 60px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.control-panel:last-child{
    margin-right: 10vw;
}
.pause{
    cursor: pointer;
}
.bullet{
    background: #ffffff;
    border-radius: 8px;
    width: 15px;
    height: 6px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid rgba(38, 38, 38, 0.49);
    transition: width 0.5s ease;
}
.bullet.active{
    width: 38px;
}
.bullet-load{
    width: 0;
    height: 100%;
    background: #3fa630;
    transition: width 1s linear;
}

#features{
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
}
.feature-box{
    width: 260px;
    height: 250px;
}
.photo{
    height: 180px;
    overflow: hidden;
}
.photo img{
    width: 100%;
    height: 100%;
}
.feature-box-info{
    height: 70px;
    background-color: var(--azwhite);
}
.feature-box-info h3{
    padding: 5px;
}
.feature-box-info p{
    padding: 0 5px;
    font-size: 14px;
}

footer{
    border-top: 2px solid var(--azgray);
    background-color: var(--azgray-dark);
    color: var(--azwhite);
    margin-top: 80px;
}
footer a{
    color: var(--azwhite);
}
.footer-content{
    padding: 0 7vw;
    display: flex;
    align-items: flex-start;
}
address{
    display: flex;
}
address p{
    padding: 0 25px 0 0;
}
.brand, .footer-left address{
    padding: 50px 0 0 0;
}
.footer-left, .footer-right{
    width: 50%;
}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
.footer-right p{
    padding: 50px 0 15px 0;
    width: 70%;
}
footer .footer-buttons {
    display: flex;
    width: 70%;
    gap: 15px;
}
footer .footbutton {
    background-color: var(--azgreen);
    height: 42px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.bottom-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--azgray-li);
    font-weight: 600;
    margin-top: 20px;
}
.bottom-footer p{
    margin: 0;
    line-height: 42px;
}
.flogo{
    filter: invert(1);
}
.loginpage{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbox{
    width: 60%;
    height: 600px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0px 0px 18px -16px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 18px -16px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 18px -16px rgba(66, 68, 90, 1);
    border-radius: 10px;
}
.logform{
    display: none;
}
.logform.active{
    display: flex;
    height: 100%;
    align-items: center;
}
.Lform, .overlay{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Lform{
    height: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(245, 245, 245, 1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(245, 245, 245, 1);
    box-shadow: 0px 0px 3px 2px rgba(245, 245, 245, 1);
    border-radius: 10px;
}
.Lform .content form{
    display: flex;
    flex-direction: column;
}
.Lform .content form input{
    margin: 5px 0;
    padding: 4px;
    height: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--azgray-li);
    outline: none;
}
.Lform .content form a{
    color: #9f9f9f;
    font-size: 14px;
    margin-top: 10px;
}
.form-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.Lform .content form button{
    margin-top:5px;
    border: none;
    background-color: var(--azgreen);
    color: var(--azwhite);
    height: 32px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.overlay .content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.overlay .content > *{
    margin-top: 10px;
}
.ghost{
    border: 2px solid var(--azgreen);
    border-radius:8px;
    width: 120px;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    transition: transform 80ms ease-in;
}
.ghost:active{
    transform: scale(0.95);
}
/* Media Queries */
@media (max-width: 767px) {
    header ul{
        padding-left: 5px;
    }
    main section{
        align-items: center;
    }
    main section:not(:first-child) {
        padding: 0;
    }
    #features, .footer-content{
        flex-direction: column;
    }
    .feature-box {
        width: 196px;
        height: 188px;
    }
    .photo {
        height: 140px;

    }
    .logo{
        width: 40px;
    }
    address {
        display: block;
    }
    .footer-left, .footer-right, #about .content p {
        width: 100%;
    }
    .footer-right {
        align-items: normal;
    }
    #about{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .slider-photo{
        height: 550px;
    }
    .slider-control{
        left: 50%;
        justify-content: normal;
    }
    #about .contact{
        margin-top: 50px;
    }
    .contact-box{
        width: 100%;
    }
    .loginpage, .logform.active{
        flex-direction: column;
    }
    .loginbox{
        width: 100%;
    }
    .Lform{
        width: 100%;
    }
    .Lform .content{
        transform: scale(0.95);
    }
}

@media only screen and (max-width: 600px) {
    .control-panel:last-child {
        margin-right: 0;
    }
    .slider-content {
        justify-content: center
    }
}