:root{
    --azgray: #D7D7D7;
    --azgray-dark: #141414;
    --azgreen: #77bd61;
    --azwhite: #F3F3F3;
    --azgray-li: #252525
}
*{
    margin: 0;
    font-family: Montserrat, sans-serif;
}
html, body { /* +main flex:1 sets footer to bottom */
    height: 100%;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: var(--azgray-dark);
}
/* Header section */
header{
    display: flex;
    justify-content: space-between;
    padding: 0 7vw;
    min-height: 65px;
    border-bottom: 2px solid var(--azgray);
}
header h1{
    font-size: 25px;
}
.site-name, .nav-item a, header nav ul{
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-item{
    list-style: none;
    padding: 0 15px;
    font-weight: 500;
    height: 95%;
}
.nav-item a:hover{
    border-bottom: 5px solid var(--azgreen);
}
/* main section */
main {
    flex: 1; /* +main flex:1 sets footer to bottom */
}
main section{
    padding: 1.5vw 12vw;
}
#about .content{
    padding: 50px 0;
}
#about .content h2{
    padding: 20px 0;
}
#about .content p{
    width: 55%;
}
#features{
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
}
.feature-box{
    width: 260px;
    height: 250px;
}
.photo{
    height: 180px;
    overflow: hidden;
}
.photo img{
    width: 100%;
    height: 100%;
}
.feature-box-info{
    height: 70px;
    background-color: var(--azwhite);
}
.feature-box-info h3{
    padding: 5px;
}
.feature-box-info p{
    padding: 0 5px;
    font-size: 14px;
}
/* footer */
footer{
    border-top: 2px solid var(--azgray);
    background-color: var(--azgray-dark);
    color: var(--azwhite);
}
footer a{
    color: var(--azwhite);
}
.footer-content{
    padding: 0 7vw;
    display: flex;
    align-items: flex-start;
}
address{
    display: flex;
}
address p{
    padding: 0 25px 0 0;
}
.brand, .footer-left address{
    padding: 50px 0 0 0;
}
.footer-left, .footer-right{
    width: 50%;
}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
.footer-right p{
    padding: 50px 0 15px 0;
    width: 70%;
}
footer .footer-buttons {
    display: flex;
    width: 70%;
    gap: 15px;
}
footer .footbutton {
    background-color: var(--azgreen);
    height: 42px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.bottom-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--azgray-li);
    font-weight: 600;
    margin-top: 20px;
}
.bottom-footer p{
    margin: 0;
    line-height: 42px;
}
.flogo{
    filter: invert(1);
}
/*features*/
#slider{
    padding: 0;
    width: 100%;
}
.slider-photo{
    width: 100%;
    height: 680px;
    position: relative;
    overflow: hidden;
}
.slider-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-control{
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 80px;
    left: -130px;
    display: flex;
    justify-content: flex-end;
}
.pause{
    width: 45px;
    border-radius: 50%;
    background-color: rgba(239, 239, 239, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bullets{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-right: 15px;
}
.bullet{
    width: 23px;
    height: 8px;
    background-color: rgba(239, 239, 239, 0.5);
    border-radius: 8px;
    cursor: pointer;
}
.bullet.active {
    width: 45px;
    background-color: var(--azgreen);
    overflow: hidden;
}
/*login form*/
.LoginFormSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.login-form{
    width: 400px;
    padding: 20px;
    background-color: var(--azgray-dark);
    color: #F3F3F3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}
.formSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 40px;
    background-color: #353535;
    border-radius: 13px;
    padding: 5px;
    margin: 20px;
}

.FSB{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    cursor: pointer;
}
.FSB.active{
    background-color: #77bd61;
    border-radius: 8px;
}
.login-form form input{
    width: 96%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}
.login-form form button{
    width: 96%;
    height: 40px;
    margin: 10px 0;
    background-color: #77bd61;
    border: none;
    border-radius: 5px;
    color: #F3F3F3;
    font-size: 16px;
    font-weight: 500;
}
/* Media Queries */
@media (max-width: 767px) {
    header ul{
        padding-left: 5px;
    }
    main section{
        align-items: center;
    }
    #features, .footer-content{
        flex-direction: column;
    }
    .logo{
        width: 40px;
    }
    address {
        display: block;
    }
    .footer-left, .footer-right, #about .content p {
        width: 100%;
    }
    .footer-right {
        align-items: normal;
    }
    #about{
        display: flex;
        justify-content: center;
    }
    .slider-photo{
        height: 550px;
    }
    .slider-control{
        left: 50%;
        justify-content: normal;
    }
}